{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Cadastro do Usuário {% endblock title %}

{% block content %}
<div class="container justify-content-center">
    <div class="card">
        <div class="card-header">
            <h1>Cadastro do Usuário</h1>
        </div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                {{form|bootstrap}}
                <input type="submit" class="btn btn-primary" value="Cadastre-se">
            </form>
        </div>
    </div>
</div>
{% endblock content %}